.new-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.all-posts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
}

.post {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px 20px;
    padding: 5px;
}

.content {
 font: 15px;

}

.username {
    font-size: 20px;
}

.date {
    color: grey;
    font-size: 15px;
}